<div class='koboldworks-pf1-regen'>
	<h3 class='form-header'><i class="fas fa-puzzle-piece"></i> {{localize "Koboldworks.Regeneration.Item.Label"}}</h3>
	{{!-- Regeneration --}}
	<div class='form-group'>
		<label>{{localize "Koboldworks.Regeneration.Item.RegenFormula.Label"}}</label>
		<input type='text' data-dtype='String' class='regen-input formula'
			value='{{regenFormula}}' data-target='regen'
			placeholder='{{localize "Koboldworks.Regeneration.Item.RegenFormula.Placeholder"}}'>
	</div>
	{{!-- Fast Healing --}}
	<div class='form-group'>
		<label>{{localize "Koboldworks.Regeneration.Item.FastHealFormula.Label"}}</label>
		<input type='text' data-dtype='String' class='fastheal-input formula'
			value='{{fastHealFormula}}' data-target='fastHeal'
			placeholder='{{localize "Koboldworks.Regeneration.Item.FastHealFormula.Placeholder"}}'>
	</div>
	{{!-- Bleeding --}}
	<div class='form-group'>
		<label>{{localize "Koboldworks.Regeneration.Item.BleedFormula.Label"}}</label>
		<input type='text' data-dtype='String' class='bleed-input formula'
			value='{{bleedFormula}}' data-target='bleed'
			placeholder='{{localize "Koboldworks.Regeneration.Item.RegenFormula.Placeholder"}}'>
	</div>
</div>
