<div class='{{card.css}} stabilization'>
	<div class='stabilization-details'>
		<h3 class='title'>{{localize 'Koboldworks.Missing.PF1.StabilizationCheck'}}</h3>
		<div class='roll-vs-dc'>
			<a class="inline-roll inline-result stabilization-check {{#if stabilization.success}}success{{else}}failure{{/if}}"
				title="{{stabilization.roll.formula}}" data-roll="{{stabilization.json}}">
				<i class="fas fa-dice-d20"></i>
				{{stabilization.roll.total}}
			</a> 
			<label class='vs-dc'>{{localize 'Koboldworks.Regeneration.Stabilization.VS'}}</label> 
			<a class="inline-roll inline-result stabilization-dc" title="{{stabilization.dcRoll.formula}}" data-roll="{{stabilization.dcRoll.json}}">
				<i class="fas fa-dice-d20"></i>
				{{stabilization.dcRoll.roll.total}}
			</a>
		</div>
	</div>
</div>
